.about-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, #ffffff, #ffffff);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
}

.about-3d {
  position: absolute;
  right: 1vw;
  top: 40%;
  transform: translateX(40%) translateY(-20%) rotateX(10deg) rotateY(-61deg);
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  z-index: 1;
}


.panel {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url('/images/puli2.jpg');
  background-size:contain;
  background-position: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Custom positioning to replicate the 3D block layout */
.panel-1 { transform: translate3d(-400px, -250px, 0); }
.panel-2 { transform: translate3d(-100px, -177px, 0px); }
.panel-3 { transform: translate3d(140px, -230px, 40px); }

.panel-4 { transform: translate3d(-500px, -20px, 0px); }
.panel-5 { transform: translate3d(-150px, 20px, 40px); }
.panel-6 { transform: translate3d( 80px, -30px, -70px); }

.panel-7 { transform: translate3d(-152px, -400px, 0px); }
.panel-8 { transform: translate3d(-310px, 190px, 0px); }
.panel-9 { transform: translate3d(50px, 200px, 0px); }

.panel-10 { transform: translate3d(-500px, -570px, -40px); }
.panel-11 { transform: translate3d(-700px, -330px, 0px); }

.computer-canvas-container {
  position: fixed;
  left: -20px;
  bottom: 10px;
  width: 2000px;  /* Adjust width as needed */
  height: 1070px; /* Adjust height as needed */
  z-index: 1;    /* Ensure it stays above other elements */
}

.human-canvas-container {
  position: fixed;
  right: 780px; /* Adjusted from 700px to viewport units */
  top: 100px;
  transform: translateY(-50%);
  width: 400px;
  height: 1500px;
  z-index: 1;
  pointer-events: none;
}
