.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.brand-and-links {
  display: flex;
  align-items: center;
  gap: 10rem; /* space between brand and links */
  margin-left: auto;
  margin-right: auto;
}
.brand {
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}


/* Add this wrapper for centering */
.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.chat-button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-button:hover {
  background-color: #4a50e2;
  transform: scale(1.05);
}


.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

.nav-links ul li a:hover {
  color: #646cff;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
}